# Prefered version of uname
# Print system information
# -s prints the kernel name
# -r prints the kernel release
alias distro='uname -sr'
# Print the num of logical cores
alias nproc='sysctl -n hw.ncpu'
# Prefered version of ls
alias lll='ls -FGlAhp'
# Prefered version of exa
alias ll='exa -laFhHuUm --git --time-style=long-iso --group-directories-first'
# Prefered version of ln
alias ln='ln -v'
# Prefered version of rsync
alias rsync='rsync -avP'
# Navigate up the directories
alias ...='../..'

# Change to most recent directory
alias cdr='cd ./*(/om[1])'

# Replace vim by neovim
alias vim='nvim'

# Return ip address
alias myip='ip route get 8.8.8.8 | awk "{print $NF; exit}"'

# Check status ssh server
alias sss='service ssh status'

# Tmux
alias tmux="tmux -2"
alias ta='tmux attach -t'
alias tnew='tmux new -d -s'
alias tls='tmux ls'
alias tkill='tmux kill-session -t'
alias tkillall='tmux kill-server'

# Convenience aliases for editing configs
alias ea='vim ~/.aliases'
alias ev='vim ~/.vimrc'
alias et='vim ~/.tmux.conf'
alias ez='vim ~/.zshrc'
alias eb='vim ~/.bash_profile'

# Convenience alias to source .zshrc
alias sz='source ~/.zshrc'
