# ALIASES
#
# NOTE: USE OUTER SINGLE QUOTES AND INNER DOUBLE QUOTES

alias distro='uname -sr' # `s` for kernel name, `r` for kernel release
alias nproc='sysctl -n hw.ncpu'

alias ll='ls -FGlAhp'
alias xx='eza -1la --header --git --color-scale --time=created --time-style=long-iso --octal-permissions --no-user --no-time' # rust

alias ln='ln -v'

alias rsync='rsync -ahP'

alias cp='cp -i'

alias df='df -h' # report file system disk space usage

alias du='du -h' # estimate file space usage
alias du.='du -h .'
alias du.1='du -h -d 1 .' # useful: stop at a depth of 1

alias nettop='nettop -P -k state,interface -d' # not downloaded, present by default

alias ..='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'

alias qv='qlmanage -p'

# neovim
alias v='nvim' # ensure we do not replace vim with neovim in case the neovim is not installed

# tmux
alias ta_='tmux attach -t'
alias tcopy='tmux list-sessions -F "#{session_name}" | fzf-tmux -d 25% --reverse | tr -d "\n" | pbcopy'
alias ta='tcopy && ta_ "$(pbpaste)"'
alias tnew='tmux new -d -s'
alias tls='tmux ls'
alias tkill='tmux kill-session -t'
alias tkillall='tmux kill-server'

# make ydt-dl use its config files, notably so that downloads go to the right place
alias ydl='yt-dlp --config-location ~/.ytdlp.conf'

# convenience aliases for editing configs
alias ec='open ~/Documents/notes/cbt.bike'
alias ep='open ~/Documents/notes/projects.bike'
alias eo='open ~/Documents/notes/curiosities.bike'
alias ea='v ~/.aliases'
alias ev='v ~/.vimrc'
alias en='v ~/.config/nvim/init.lua'
alias ez='v ~/.zshrc'
alias et='v ~/.tmux.conf'
alias eh='v ~/.hammerspoon/init.lua'
alias ek='v ~/Documents/notes/bookmarks.md'
alias er='v ~/Documents/dotfiles/README.md'
alias eb='v ~/Documents/dotfiles/brew.sh'
# keep for posterity: pretty cool functionality
# alias eo='v +"normal G" ~/Documents/notes/research/log.md'
# alias ep='v +"g/^[^+=*-]/#" ~/Documents/notes/plan.txt' 

# convenience alias to source files
alias sz='source ~/.zshrc'
alias ss='source ~/.aliases'

alias wip='cd ~/Documents/git/code/wip'
alias nts='cd ~/Documents/notes'
alias dts='cd ~/Documents/dotfiles'
alias rsm='cd ~/Documents/git/code/ego/github/private/resume-latex'
alias grw='cd ~/Documents/growth'

# select file in current directory with fzf, then ENTER to open it with default app for the type
alias f='find . -type f | fzf-tmux -d 75% | xargs -r -I {} open "{}"'

# quick search shortcuts
alias sn='nts && f'
alias sg='grw && f'

