# ALIASES
#
# NOTE: USE OUTER SINGLE QUOTES AND INNER DOUBLE QUOTES

alias distro='uname -sr' # `s` for kernel name, `r` for kernel release
alias nproc='sysctl -n hw.ncpu'

alias ll='ls -FGlAhp'
alias xx='eza -1la --header --git --color-scale --time=created --time-style=long-iso --octal-permissions --no-user --no-time' # rust

alias ln='ln -v'

alias rsync='rsync -ahP'

alias cp='cp -i'

alias df='df -h' # report file system disk space usage

alias du='du -h' # estimate file space usage
alias du.='du -h .'
alias du.1='du -h -d 1 .' # useful: stop at a depth of 1

alias nettop='nettop -P -k state,interface -d' # not downloaded, present by default

alias ..='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'

alias qv='qlmanage -p'

# neovim
alias v='nvim' # ensure we do not replace vim with neovim in case the neovim is not installed

# tmux
alias tmux='tmux -2'
alias ta='tmux attach -t'
alias tnew='tmux new -d -s'
alias tls='tmux ls'
alias tkill='tmux kill-session -t'
alias tkillall='tmux kill-server'

# make ydt-dl use its config files, notably so that downloads go to the right place
alias ydl='yt-dlp --config-location ~/.ytdlp.conf'

# kitty
# Automatically copy over the terminfo files and also magically enable shell integration on the remote machine
# https://sw.kovidgoyal.net/kitty/faq/#i-get-errors-about-the-terminal-being-unknown-or-opening-the-terminal-failing-or-functional-keys-like-arrow-keys-don-t-work
alias s="kitty +kitten ssh --kitten share_connections=yes"

# convenience aliases for editing configs
# I use these on macOS and Anton only -- can use neovim
alias ec='v ~/Documents/notes/cbt.md'
alias eo='v +"normal G" ~/Documents/notes/research/log.md'
alias ep='v +"g/^[^+=*-]/#" ~/Documents/notes/plan.txt'
alias ej='v +"g/^[^+=*-]/#" ~/Documents/notes/projects.txt'
alias es='v ~/Documents/notes/scratchpad.txt'
alias ea='v ~/.aliases'
alias ev='v ~/.vimrc'
alias en='v ~/.config/nvim/init.lua'
alias ez='v ~/.zshrc'
alias et='v ~/.tmux.conf'
alias eh='v ~/.hammerspoon/init.lua'
alias ek='v ~/.config/kitty/kitty.conf'
alias er='v ~/Documents/dotfiles/README.md'
alias eb='v ~/Documents/dotfiles/brew.sh'

alias ee="espanso edit"
# file to edit is located at:
# /Users/lionelblonde/Library/Application Support/espanso/match/base.yml"'
# and the double quotes are to escape the spaces present in the path

# convenience alias to source .zshrc
alias sz='source ~/.zshrc'
alias ss='source ~/.aliases'

alias wip='cd ~/Documents/git/code/wip'
alias notes='cd ~/Documents/notes'
alias dots='cd ~/Documents/dotfiles'
alias resume='cd ~/Documents/git/code/ego/github/private/resume-latex'
alias txtb='cd ~/Documents/textbooks'

# selecte file in current directory with fzf, then ENTER to open it with default app for the type
alias f='find . -type f | fzf-tmux -d 75% | xargs -r -I {} open "{}"'
alias fa='find ~/Documents/annotated-papers-megadump -type f | fzf-tmux -d 75% | xargs -r -I {} open "{}"'
