# This is Git's per-user configuration file.

[core]
    pager = less -x4
    editor = vim
[user]
    name = lionelblonde
    email = lionel.blonde@me.com
[pager]
    status = true
    branch = true
    ls = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential]
    helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
    useHttpPath = true
