torch
torchvision
torchaudio
ruff-lsp  # linter
python-lsp-server  # pylsp, for extending rules not covered yet by ruff
pycodestyle  # linter extension
pyright  # type checker
beartype  # runtime type checker; ensures (not 100%) type hint are correct
einops
fire
omegaconf
pandas
matplotlib
seaborn
numpy
tmuxp
wandb
tensordict
torchrl
# tensordict-nightly
# torchrl-nightly
